HostKey /data/var/ssh/ssh_host_rsa_key
HostKey /data/var/ssh/ssh_host_ed25519_key
AuthorizedKeysFile	.ssh/authorized_keys
UsePAM yes
PermitUserEnvironment yes
PidFile none
Subsystem	sftp	/system/bin/sftp-server
