# QNX Environment Setup
build:qnx_aarch64 --repo_env=PATH=/home/prathik/qnx800/QNX8_App/someip_app:/home/prathik/qnx800/host/linux/x86_64/usr/bin:/usr/bin:/bin
build:qnx_aarch64 --action_env=PATH=/home/prathik/qnx800/QNX8_App/someip_app:/home/prathik/qnx800/host/linux/x86_64/usr/bin:/usr/bin:/bin
build:qnx_aarch64 --repo_env=CC=qcc_wrapper.sh
build:qnx_aarch64 --action_env=CC=qcc_wrapper.sh
build:qnx_aarch64 --action_env=CXX=qcc_wrapper.sh
build:qnx_aarch64 --action_env=BAZEL_COMPILER=qcc
build:qnx_aarch64 --action_env=QNX_HOST=/home/prathik/qnx800/host/linux/x86_64
build:qnx_aarch64 --action_env=QNX_TARGET=/home/prathik/qnx800/target/qnx
build:qnx_aarch64 --action_env=HOME=/home/prathik
build:qnx_aarch64 --action_env=USER=prathik

# Architecture Flags
build:qnx_aarch64 --copt=-Vgcc_ntoaarch64le
build:qnx_aarch64 --linkopt=-Vgcc_ntoaarch64le
build:qnx_aarch64 --copt=-D_XOPEN_SOURCE=600

# Allow sandbox access to QNX directories
build:qnx_aarch64 --sandbox_add_mount_pair=/home/prathik/qnx800

# Grant writable access and mount the QNX license directory into the sandbox
build:qnx_aarch64 --sandbox_writable_path=/home/prathik/.qnx
build:qnx_aarch64 --sandbox_add_mount_pair=/home/prathik/.qnx

# Pass home/user context to qcc driver
build:qnx_aarch64 --action_env=HOME=/home/prathik
build:qnx_aarch64 --action_env=USER=prathik