################################################################################
#
# Template Configuration file for the Enable Features PCI Server Module
#
# This file (or one similar) can be used to control the runtime behaviour of the
# PCI server. Specifically, it defines the parameters which are processed by the
# pci_server-enable_features.so module version 2.2 or later.
#
# It is utilized by specifying it as the parameter to the --config= command
# line option to the pci_server-enable_features.so module. See also the 'use'
# information for that module
#
# Parameters and their acceptable values are described below. Parameter values
# and names are case invariant unless otherwise noted
#
# Parameters will be processed in the order in which they occur within the
# configuration file
#
# All text following a '#' until the end-of-line will be treated as a comment
#
# The '\' is a line continuation character and can be used to delimit parameter
# values for parameters that accept more than one value. If multiple parameter
# values are placed on a single line, a parameter specific delimiter is used
# (see the specific parameter for details)
#
# White space is ignored unless otherwise stated
#
# The following parameters are currently supported by the enable features server
# module
#
#    MPS - modify the PCI Express Max Payload Size for an Endpoint (EP) device
#    ECRC - enable/disable ECRC generation and checking for devices
#
#
# The following sections detail the parameter usage for each supported parameter
#
#    <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
#
#                                    MPS
#
# IMPORTANT USAGE NOTICE
# ----------------------
#   Currently, this feature does not support hotplug.
#   If a device is live inserted into the system, the MPS settings for the
#   inserted device(s) will not be restored. This is only an issue if the MPS
#   settings have been changed from the default value of 128 bytes.
#   If hotplug of certain devices is required, users should construct the MPS
#   records accordingly and not use "all" in any MPS records. If a hotplug
#   device is connected to a switch with multiple downstream switch ports that
#   in turn have an EP, non-default MPS settings for those EPs will not be
#   possible with the current version of the server module. Similarly, an EP
#   connected to a hotplug capable Root Port cannot use non-default MPS settings
#   in the current version of this server module.
#   This limitation is imposed because of a lack of available hardware on which
#   to reliably test all scenarios and will be corrected in a subsequent version
#   of the server module
#
# MPS feature parameter value parsing
#
# MPS records consist of 2 required fields and have the following format
#
#    MPS=<EP|"all">:<mps|"max">
#
# The fields are delimited with a colon (:)
#
# The first field specifies the BDF of the Endpoint (EP) device to which the
# Max Payload Size value is to be applied or the case invariant text "all"
# (without the "") to apply the MPS value to all EPs within the segment managed
# by the server instance which has loaded the feature enabling server module
#
# If the BDF does not refer to an EP, or the BDF is not managed by the server
# instance which has loaded the server module, the record will be ignored
#
# The EP BDF field can take 2 forms with the BDF subfield delimited with a
# period (.)
#
#    B.D.F - for non-ARI devices
#    B.F   - for ARI devices
#
# In the case of targeting a specific EP, if the device is a multi-function or
# ARI device, the setting will be applied to all functions of the device. That
# is, all functions will be programmed with the same MPS value
#
# The MPS size for Root Complex Integrated Endpoints (RCiEPs) cannot be modified
# by this server module. Any MPS records which either directly specify an RCiEP
# BDF or implicitly include them (ex. using 'all') will have no effect on the
# current MPS setting of any implemented RCiEPs
#
# Although not required, it is acceptable and even preferable to specify only
# one MPS record for an EP with the function portion of the field set to 0.
# Multiple records which have the same BxDy but a different Fz are accepted and
# will be processed as duplicates of Bx.Dy.F0. See discussion and examples for
# multiple records below
#
# The second field specifies the desired Payload Size or the case invariant
# text "max" to configure the maximum possible Payload Size based on the
# capabilities of all elements in the path to the EP device.
# If a specific value is provided, it must be one of the values as defined in
# the PCIe Specification for bits [2:0] of the Device Capabilities Register
# within the PCIe capability register set and as follows
#
#    128, 256, 512, 1024, 2048 or 4096 (bytes)
#
# It should be noted that if all elements from the Root of the hierarchy in
# which the EP resides do not support the specified Payload Size, the setting
# will be ignored.
# Similarly, when users specify a size, they need to consider the topology. If
# any element shares a path to more than one EP (an Upstream Switch Port is an
# example of this), then it may not be possible for the specified size to be
# configured and the user may not get what they expect
#
# Therefore using "max" is the safest way to ensure that the Payload is set to
# a usable value.
#
# Endpoint (EP) Devices (which are not functions of a multi-function or ARI
# device) for which no MPS record exists, will not be altered from their current
# setting. The PCIe Specification defined default MPS setting is 128 bytes which
# is supported by all compliant devices
#
# Multiple MPS records can be provided with later records targeting the same EP
# or "all" overriding the setting of previous records in the case of conflicts.
# Note however that if multiple conflicting records are provided, even if for
# different EPs but which share a path element (ex. switch port or Root Port),
# those records may be dropped.
# Also, in the case of multiple records targeting EPs which share a common path
# element, the records will be processed in ascending BDF order
#
# For example
#
#    MPS=1.0.0:max
#    MPS=all:1024
#
# will cause the setting for EP 1.0.0 to be ignored and may result in the MPS
# not being set at all if any component in the path to an EP does not support a
# size of 1024 bytes
#
#    MPS=all:1024
#    MPS=1.0.0:max
#
# may result in the MPS only being set for the path to EP 1.0.0 depending on the
# capabilities of the devices in other paths
#
#    MPS=4.0.0:max
#    MPS=3.0.0:128
#
# whereby EPs 3:0:0 and 4:0:0 share a commom path element, the record for EP
# 4:0:0 will be the one which is dropped
#
# The safest forms of MPS record are as follows
#
#    MPS=all:max
#    MPS=B.D.F:max
#
#    <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
#
#                                    ECRC
#
# ECRC feature parameter value parsing
#
# IMPORTANT NOTE
# --------------
# This module provides for control over which supporting devices will have their
# ECRC generation and checking feature enabled or disabled. It does not however
# provide notification of ECRC errors. Error event notifications, including ECRC
# errors, are managed with the pci_server-error_event_handler.so module. These
# modules can be used independently or in combination depending on the
# requirements of the system. If using both modules, this module (to enable or
# disable features) should usually be loaded first.
# See also /etc/system/config/pci/pci_server-template.cfg for details on server
# module loading and options
#
# ECRC records consist of 3 required fields and have the following format
#
#    ECRC=<BDF|"all">:<"+"|"-"|"=">:<"+"|"-"|"=">
#
# The fields are delimited with a colon (:)
#
# The first field specifies the BDF of the device for which ECRC generation
# and checking is to be enabled, disabled or left unchanged. The case invariant
# text "all" (without the "") will apply the ECRC settings to all devices within
# the segment managed by the server instance which has loaded the feature
# enabling server module
#
# If the BDF is not managed by the server instance which has loaded the server
# module, the record will be ignored
#
# The BDF field can take the following forms with the BDF subfield delimited
# with a period (.)
#
#    B     - apply the ECRC setting to all devices on Bus 'B'
#    B.D.* - apply the ECRC setting to all functions of non-ARI device B.D
#    B.*   - apply the ECRC setting to all functions of ARI device B.0
#    B.D.F - apply the ECRC setting to non-ARI device B.D.F
#    B.F   - apply the ECRC setting to ARI device B.F
#
# Multiple records which ultimately target the same BDF will have their final
# settings be the result of applying each of the settings in the order the
# records appear.
# See discussion and examples for multiple records below
#
# The second and third fields specify the setting for ECRC generation and
# checking respectively and both fields take the same 3 options as follows
#
#    '+'  - enables the ECRC setting
#    '-'  - disables the ECRC setting
#    '='  - does not alter the current ECRC setting
#
# At least one of these subfield values must be provided for both the generation
# and checking subfields otherwise the record will be ignored. While it does
# no harm and will be ignored, it obviously makes little sense to have a record
# for which both the generation and checking subfields have the value '='
#
# Using Multiple ECRC records
#
# Multiple ECRC records can be used with later records which end up targeting
# the same BDF overriding the setting of previous records
#
# For example
#
#    ECRC=5:+:+
#    ECRC=5.0.3:=:-
#
# would result in ECRC generation and checking to be enabled for all functions
# in all devices on Bus 5 except for B5:D0:F3 which will have ECRC checking
# disabled
#
#    ECRC=all:+:=
#    ECRC=3.0.*:-:=
#
# would result in ECRC generation being enabled for all devices on the platform
# except for all of the functions (if a multi-function device) on device B3:D0
# for which ECRC generation will be disabled. ECRC checking will be unchanged
# for all devices on the platform
#
#    ECRC=1:+:-
#    ECRC=all:+:+
#
# would result in ECRC generation and checking being enabled for all devices
# on the platform. The first record which applies to Bus 1 will be effectively
# ignored by the override applied by the second record
#
