# Execute commands locally to give QNX full license directory visibility
build --spawn_strategy=local

# Expose essential path variables to the underlying compiler processes
build --action_env=PATH
build --action_env=HOME
build --action_env=QNX_HOST
build --action_env=QNX_TARGET
build --action_env=QNX_CONFIGURATION=/home/prathik/.qnx
